aside {
    width: 200px;
    position: absolute;
    top: 0;
    left: -200px;
    min-height: 100vh;
    height: auto;
    background-color: rgb(224, 225, 225);
}

h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

button {
    display: flex;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    justify-content: space-evenly;
    align-items: center;
}

button:hover {
    cursor: pointer;
    background-color: rgb(201, 202, 204);
}

p {
    margin-top: 30px;
    text-align: center;
}

svg {
    font-size: 30px;
    color: rgb(231, 142, 142);
}